  <div id="Content">
  <div style="background-color:rgba(248,247,216,0.3);padding:0 0 0 0 ;
              position:relative;float:left;width:145%;margin-left:-45px;
              font: bold 18px/30px Georgia, sans-serif;">
    <h1>
    <h1 style="position:relative;top:0px;text-align:center;">
     Thank You! for showing interest on ClocKairos.
    </h1>
    <p>
    <p style="position:relative;top:0px;text-align:center;">
     This Application will go live once we can assure we have enough users. If you are interested on knowing when that'll happen
    </p>

    <p>
    <p style="position:relative;top:0px;text-align:center;">
     Take the second step and sign up for news:
    </p>
    <p>
    <p style="position:relative;top:0px;text-align:center;">
 <%= link_to "New Alarm", new_appointment_path, :class => 'btn btn-primary btn-s' %> 
    </p>
  </div>
