  <div id="Content">
  <div style="background-color:rgba(248,247,216,0.3);position:absolute;top:0px;left:-30px;width:300%;font: bold 18px/30px Georgia, sans-serif;">

    <h1>Defeat the evil Snooze with ClocKairos</h1>

    <p>This Application will help you to <u>rise and shine</u>, making sure you don't fall into the sloth pits <p>

    <p>Take the first step towards better mornings: <%= link_to "Create a new Alarm", new_appointment_path, :class => 'btn btn-primary btn-xs' %> </p>
  </div>
