  <div id="Content">
  <div style="background-color:rgba(248,247,216,0.3);position:relative;top:-35px;left:-120px;width:180%;overflow:hidden;font: bold 18px/30px Georgia, sans-serif;">

    <h1>
    <h1 style="position:relative;top:0px;text-align:center;">
     Defeat the evil Snooze with ClocKairos
    </h1>

    <p>
    <p style="position:relative;top:0px;text-align:center;">
     This Application will help you to <u>rise and shine</u>, making sure you don't fall into the sloth pits 
    </p>

    <p>
    <p style="position:relative;top:0px;text-align:center;">
     Take the first step towards better mornings:
    </p>
    <p>
    <p style="position:relative;top:0px;text-align:center;">
 <%= link_to "New Alarm", new_appointment_path, :class => 'btn btn-primary btn-s' %> 
    </p>
  </div>
